body {
    background-image: url(./images/background.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0;
}

.container {
    width: 100%;
    min-height: 89vh;
    display: flex;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#containerBorder {
    background-color: rgb(7,10,29); 
    min-height: 70px;
}

#endBumper {
    background-color: rgb(7,10,29); 
    min-height: 120px;

    justify-content: start;
    align-items: first;
    flex-direction: row;

}

.copyright {
    font-size: 20px;
    color: white;
    margin-left: 50px;
}

.photograph {
    margin-top: 5px;
    font-size: 15px;
}


.spacer {
    height: 300px;
}

.box {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#tagbox {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#tagline
{
    width: 65vw;
    max-width: 920px;
    min-width: 350px;
    border-radius: 15px;
    background-color: rgba(0,120,215, 0.65);
    font-size: min(max(20px, 4vw), 55px);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-image: url(./images/logo.png);
    background-size: contain;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
}

.title {
    width: 400px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 3vw;
}


.buttonContainer {
    width: min(max(40px, 4vw), 55px);
    height: min(max(40px, 4vw), 55px);
    background-color: rgba(14,17,52, 0.75);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: min(max(35px, 4vw), 50px);
    height: min(max(35px, 4vw), 50px);
    background-size:contain;
    background-repeat: no-repeat
}

#discordBtn {
    background-image: url(./images/discord.png);
    /*also put url stuff here i think*/
}

#team {
    background-image: none;
    background-color: rgb(14,17,52);
}

#meet {
    width: 100%;
}

#meetTag
{
    margin-top: 50px;
    margin-bottom: 80px;
    width: 100%;
    font-size: 100px;
}


#users {
    width: 100%;
    min-height: 1200px;
    flex-wrap: wrap;
    gap: 150px;
}


@media screen and (max-width: 1000px) {
    
    .user {
        
        width: 85%;
        max-width: 500px;
        display:flex;
        background-color: rgb(63,73,207);

        align-items: center;
        flex-direction: column;
        border: 5px solid black;
        box-shadow: 5px 11px black;
        margin-bottom: 50px;
    }

    .avatarBox {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .userTitles {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(63,73,207);
    }

    .userName {
        font-size: 65px;
        color: white;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .userPronounce {
        font-size: 30px;
        color: white;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
        margin-bottom: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .avatar {
        width: 500px;
        height: 500px;
        background-image: url(./images/logo.png);
        background-size: cover;
        border-bottom: 5px solid black;
    }

    .userInfoRow {
        display:flex;
        flex-direction: row;
        height: 60px;
        background-color: rgb(33,39,124);
        border-bottom: 5px solid black;
    }

    .flag {
        font-size: 55px;
        margin-left: 10px;
    }

    .rowItem {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    #rowTitle {
        font-size: 40px;
        margin-left: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }

    #rowText {
        font-size: 30px;
        border-right: 6px solid rgb(63,73,207);
        justify-content: end;
        background-color: rgb(63,73,207);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }

    #aboutMeTitle {
        border-bottom: none;
    }

    #aboutMeText {
        font-size: 30px;
        display: flex;
        flex-direction: row;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }

    #userAboutMe {
        background-color: rgb(63,73,207);
        border-bottom: none;
        border: 5px solid rgb(0,0,0,0);

    }

    #rowSocials {
        width: 100%;
        height: 111px;
        justify-content: center;
        gap: 1vw;
        background-color: rgb(63,73,207);
        border-bottom: none;
    }

    .socialsBackground {
        width: 75px;
        height: 75px;
        background-color: rgba(114, 122, 192, 0);
        border-radius: 55px;
        box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        width: 70%;
        height: 60%;
        background-image: url(./images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    #bluesky {
        background-image: url(./images/BlueskyLogo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    #steam {
        height: 70%;
        background-image: url(./images/Steam.png);
        background-size: contain;
        background-repeat: no-repeat;
    }


    #felixAvatar {
        background-image: url(./images/felix.png);
    }

    #poseidonAvatar {
        background-image: url(./images/poseidon.png);
    }

    #harmonyAvatar {
        background-image: url(./images/harmony.png);
    }

    #honeyAvatar {
        background-image: url(./images/honey.png);
    }
}




@media screen and (min-width: 1000px) {
    
    .user {
        
        width: 85%;
        height: 100%;
        max-width: 340px;
        display:flex;
        background-color: rgb(63,73,207);
        
        align-items: center;
        flex-direction: column;
        border: 5px solid black;
        box-shadow: 5px 11px black;
        margin-bottom: 50px;
    }

    .avatarBox {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .userTitles {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(63,73,207);
    }

    .userName {
        font-size: 55px;
        color: white;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .userPronounce {
        font-size: 20px;
        color: white;
        text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
        margin-bottom: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .avatar {
        width: 340px;
        height: 340px;
        background-image: url(./images/logo.png);
        background-size: cover;
        border-bottom: 5px solid black;
    }

    .userInfoRow {
        display:flex;
        flex-direction: row;
        height: 40px;
        background-color: rgb(33,39,124);
        border-bottom: 5px solid black;
    }

    .flag {
        font-size: 35px;
        margin-left: 10px;
    }

    .rowItem {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    #rowTitle {
        font-size: 30px;
        margin-left: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }

    #rowText {
        font-size: 20px;
        border-right: 6px solid rgb(63,73,207);
        justify-content: end;
        background-color: rgb(63,73,207);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
    }

    #aboutMeTitle {
        border-bottom: none;
    }

    #aboutMeText {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        
    }

    #userAboutMe {
        background-color: rgb(63,73,207);
        border-bottom: none;
        border: 5px solid rgb(0,0,0,0);
        height: 100%;
    }

    #rowSocials {
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        justify-content: center;
        gap: 1vw;
        background-color: rgb(63,73,207);
        border-bottom: none;
    }

    .socialsBackground {
        width: 75px;
        height: 75px;
        background-color: rgba(114, 122, 192, 0);
        border-radius: 55px;
        box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        width: 70%;
        height: 60%;
        background-image: url(./images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    #bluesky {
        background-image: url(./images/BlueskyLogo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    #steam {
        height: 70%;
        background-image: url(./images/Steam.png);
        background-size: contain;
        background-repeat: no-repeat;
    }


    #felixAvatar {
        background-image: url(./images/felix.png);
    }

    #poseidonAvatar {
        background-image: url(./images/poseidon.png);
    }

    #harmonyAvatar {
        background-image: url(./images/harmony.png);
    }

    #honeyAvatar {
        background-image: url(./images/honey.png);
    }
}